[package]
name = "sp-io"
version = "2.0.0"
authors = ["Supercomputing Systems AG <info@scs.ch> and Parity Technologies <admin@parity.io>"]
edition = "2018"
license = "Apache-2.0"

[dependencies]
codec = { package = "parity-scale-codec", version = "1.3.1", default-features = false }
hash-db = { version = "0.15.2", default-features = false }
libsecp256k1 = { version = "0.3.4", optional = true }
log = { version = "0.4.8", optional = true }
futures = { version = "0.3.1", features = ["thread-pool"], optional = true }
parking_lot = { version = "0.10.0", optional = true }


environmental = { version = "1.0.1", default-features = false, optional = true }
sgx_tstd      = { rev = "v1.1.2", git = "https://github.com/apache/teaclave-sgx-sdk.git", features = ["untrusted_fs","net","backtrace"], optional = true}
sgx_types     = { rev = "v1.1.2", git = "https://github.com/apache/teaclave-sgx-sdk.git", optional = true}
sgx_log       = { rev = "sgx_1.1.2", package = "log", git = "https://github.com/mesalock-linux/log-sgx", optional =true }

[dependencies.sp-std]
git = "https://github.com/paritytech/substrate.git"
rev = "a208da16"
default-features = false

[dependencies.sp-core]
git = "https://github.com/paritytech/substrate.git"
rev = "a208da16"
default-features = false
features=["full_crypto"]

[dependencies.sp-state-machine]
git = "https://github.com/paritytech/substrate.git"
rev = "a208da16"
optional = true

[dependencies.sp-runtime-interface]
git = "https://github.com/paritytech/substrate.git"
rev = "a208da16"
default-features = false

[dependencies.sp-wasm-interface]
git = "https://github.com/paritytech/substrate.git"
rev = "a208da16"
default-features = false

[dependencies.sp-tracing]
git = "https://github.com/paritytech/substrate.git"
rev = "a208da16"
default-features = false

[dependencies.sp-trie]
git = "https://github.com/paritytech/substrate.git"
rev = "a208da16"
optional = true

[dependencies.sp-externalities]
git = "https://github.com/paritytech/substrate.git"
rev = "a208da16"
optional = true

[dependencies.sgx-externalities]
path = "../externalities"
default-features = false
optional = true

[features]
default = ["std"]

std = [
	"sp-core/std",
	"codec/std",
	"sp-std/std",
	"hash-db/std",
	"sp-trie",
	"sp-state-machine",
	"libsecp256k1",
	"sp-runtime-interface/std",
	"sp-externalities",
	"sp-wasm-interface/std",
	"log",
	"futures",
	"parking_lot",
]

sgx = [
	"sgx_tstd",
	"sgx_types",
	"sgx_log",
	"sgx-externalities",
	"environmental",
	"sp-runtime-interface/disable_target_static_assertions",
	"sp-core/full_crypto",
]

# These two features are used for `no_std` builds for the environments which already provides
# `#[panic_handler]`, `#[alloc_error_handler]` and `#[global_allocator]`.
#
# For the regular wasm runtime builds those are not used.
disable_panic_handler = []
disable_oom = []
disable_allocator = []
